Repository outscale/k8s-image-preloader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice, @bob, @carol, @org/devteam, @org/qa-team, @dave, @ellen

🐛 fix: fix ctr export call
  .github/actions/preloader_snapshot/Dockerfile
  .github/actions/preloader_snapshot/action.yaml
  .github/actions/preloader_snapshot/cleanup.sh
  .github/actions/preloader_snapshot/main.sh
  .github/actions/preloader_snapshot/snapshot.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  cmd/export.go
  cmd/utils.go
  github_actions
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice, @org/devteam

👷 ci: switch action to v0.2.0 image
  .github/actions/preloader_snapshot/action.yaml
Owners: @org/devteam

👷 ci: switch action to v0.2.0 image
  .github/actions/preloader_snapshot/action.yaml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to ed4fcc4
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

📝 doc: changelog for v0.2.0
  CHANGELOG.md
Owners: @alice

📝 doc: changelog for v0.2.0
  CHANGELOG.md
Owners: @alice

👷 ci: fix permissions, avoid deleting ak in frieza
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

👷 ci: fix permissions, avoid deleting ak in frieza
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update golang:1.26 docker digest to 68cb6d6
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/checkout digest to df4cb1c
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update golang:1.26 docker digest to 68cb6d6
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/checkout digest to df4cb1c
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to ed4fcc4
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(gomod): update kubernetes monorepo to v0.34.9
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): update softprops/action-gh-release digest to 718ea10
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/checkout action to v7
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update azure/setup-helm digest to 9bc31f4
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 30482e8
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 32c0e6e
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/checkout action to v7
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 30482e8
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 32c0e6e
  Dockerfile
Owners: @alice

👷 ci: pin caposc action to version
  .github/workflows/e2e_test.yml
Owners: @org/devteam

👷 ci: replace sanity-scan/cred_scan with plumber
  .github/workflows/compliance.yml
  .github/workflows/cred-scan.yml
Owners: @org/devteam

👷 ci: pin golangci-lint to version
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(dockerfile): update golang:1.26 docker digest to f96cc55
  Dockerfile
Owners: @alice

👷 ci: pin caposc action to version
  .github/workflows/e2e_test.yml
Owners: @org/devteam

👷 ci: replace sanity-scan/cred_scan with plumber
  .github/workflows/compliance.yml
  .github/workflows/cred-scan.yml
Owners: @org/devteam

👷 ci: pin golangci-lint to version
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(github-actions): pin dependencies
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update outscale/.github digest to f495261
  .github/workflows/compliance.yml
Owners: @org/devteam

🚀 v0.3.0
  .github/actions/preloader_snapshot/action.yaml
  CHANGELOG.md
Owners: @org/devteam, @alice

⬆️ deps(github-actions): update outscale/.github digest to f9320b1
  .github/workflows/compliance.yml
Owners: @org/devteam

👷 ci: PR autotagging, CHANGELOG autoupdate, pin actions, goreleaser
  .github/actions/preloader_snapshot/action.yaml
  .github/workflows/auto-changelog.yaml
  .github/workflows/compliance.yml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/pr-auto-tagging.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  .goreleaser.yaml
  Dockerfile
  examples/example.yaml
  go.mod
  go.sum
  snapshot.sh
Owners: @org/devteam, @alice

👷 ci: PR autotagging, CHANGELOG autoupdate, pin actions, goreleaser
  .github/actions/preloader_snapshot/action.yaml
  .github/workflows/auto-changelog.yaml
  .github/workflows/compliance.yml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/pr-auto-tagging.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  .goreleaser.yaml
  Dockerfile
  examples/example.yaml
  go.mod
  go.sum
  snapshot.sh
Owners: @org/devteam, @alice

🚀 v0.3.0
  .github/actions/preloader_snapshot/action.yaml
  CHANGELOG.md
Owners: @org/devteam, @alice

🚀 v0.3.0
  .github/actions/preloader_snapshot/action.yaml
  CHANGELOG.md
Owners: @org/devteam, @alice

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

.github/CODEOWNERS:

# This file assigns code owners automatically to pull requests

# Assign @alice to all files in the repository
* @alice

# Assign @bob to all files in the backend/ directory
/backend/ @bob

# Assign @carol to all files in the frontend/ directory
/frontend/ @carol

# Assign @devteam (a GitHub team) to all configuration files
*.yml @org/devteam
*.yaml @org/devteam
*.json @org/devteam

# Assign @qa-team to test files
/tests/ @org/qa-team

# Assign both @dave and @ellen to specific file
README.md @dave @ellen
