Repository outscale/k8s-image-preloader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice, @bob, @carol, @org/devteam, @org/qa-team, @dave, @ellen

.github/CODEOWNERS:

# This file assigns code owners automatically to pull requests

# Assign @alice to all files in the repository
* @alice

# Assign @bob to all files in the backend/ directory
/backend/ @bob

# Assign @carol to all files in the frontend/ directory
/frontend/ @carol

# Assign @devteam (a GitHub team) to all configuration files
*.yml @org/devteam
*.yaml @org/devteam
*.json @org/devteam

# Assign @qa-team to test files
/tests/ @org/qa-team

# Assign both @dave and @ellen to specific file
README.md @dave @ellen

⬆️ deps(dockerfile): update golang:1.25 docker digest to ce63a16
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update debian:12 docker digest to 23f8d49
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/checkout digest to de0fac2
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/checkout digest to de0fac2
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 0a5bf4e
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update debian:12 docker digest to 0a5bf4e
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang docker tag to v1.26
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update azure/setup-helm action to v5
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update azure/setup-kubectl action to v5
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/setup-go digest to 4a36011
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 1d6cd96
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.25 docker digest to fad20fa
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update azure/setup-kubectl action to v5
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update azure/setup-helm action to v5
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 1d6cd96
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang docker tag to v1.26
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/setup-go digest to 4a36011
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update softprops/action-gh-release digest to 3bb1273
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update azure/setup-kubectl digest to 8293235
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update softprops/action-gh-release action to v3
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(gomod): update kubernetes packages to v0.34.7
  go.mod
  go.sum
Owners: @alice

⬆️ deps(dockerfile): update debian:12 docker digest to 8a8cd02
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to b54cbf5
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update azure/setup-kubectl digest to 8293235
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(gomod): update kubernetes packages to v0.34.7
  go.mod
  go.sum
Owners: @alice

⬆️ deps(dockerfile): update debian:12 docker digest to 8a8cd02
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

👷 ci(action): allow running without KUBECONFIG
  github_actions/preloader_snapshot/main.sh
Owners: @alice

fixup! 👷 ci(action): allow running without KUBECONFIG
  github_actions/preloader_snapshot/main.sh
  go.mod
  go.sum
  main.go
Owners: @alice

fixup! fixup! 👷 ci(action): allow running without KUBECONFIG
  github_actions/preloader_snapshot/action.yaml
  github_actions/preloader_snapshot/main.sh
Owners: @org/devteam, @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to b54cbf5
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update softprops/action-gh-release action to v3
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 85019db
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 633d23b
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 633d23b
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update debian:12 docker digest to 85019db
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 313faae
  Dockerfile
Owners: @alice

⬆️ deps(gomod): update kubernetes packages to v0.34.8
  go.mod
  go.sum
Owners: @alice

⬆️ deps(dockerfile): update golang:1.26 docker digest to 313faae
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update mindsers/changelog-reader-action digest to 1faaf50
  .github/workflows/release.yml
Owners: @org/devteam

🐛 fix: fix ctr export call
  .github/actions/preloader_snapshot/Dockerfile
  .github/actions/preloader_snapshot/action.yaml
  .github/actions/preloader_snapshot/cleanup.sh
  .github/actions/preloader_snapshot/main.sh
  .github/actions/preloader_snapshot/snapshot.yaml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  cmd/export.go
  cmd/utils.go
  github_actions
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice, @org/devteam
