Repository outscale/k8s-image-preloader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice, @bob, @carol, @org/devteam, @org/qa-team, @dave, @ellen

🎉 initial preloader version
  .github/linters/yaml-lint.yaml
  .github/scripts/runneraksk.sh
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .gitignore
  .trivyignore
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  cmd/export.go
  cmd/root.go
  cmd/snapshot.go
  cmd/utils.go
  cmd/version.go
  examples/example.yaml
  github_actions/preloader_snapshot/Dockerfile
  github_actions/preloader_snapshot/action.yaml
  github_actions/preloader_snapshot/cleanup.sh
  github_actions/preloader_snapshot/main.sh
  github_actions/preloader_snapshot/snapshot.yaml
  go.mod
  go.sum
  main.go
  snapshot.sh
Owners: @org/devteam, @alice, @dave, @ellen

📝 doc(PR template): fix contributing link
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @alice

🎉 initial preloader version
  .github/linters/yaml-lint.yaml
  .github/scripts/runneraksk.sh
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .gitignore
  .trivyignore
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  cmd/export.go
  cmd/root.go
  cmd/snapshot.go
  cmd/utils.go
  cmd/version.go
  examples/example.yaml
  github_actions/preloader_snapshot/Dockerfile
  github_actions/preloader_snapshot/action.yaml
  github_actions/preloader_snapshot/cleanup.sh
  github_actions/preloader_snapshot/main.sh
  github_actions/preloader_snapshot/snapshot.yaml
  go.mod
  go.sum
  main.go
  snapshot.sh
Owners: @org/devteam, @alice, @dave, @ellen

📝 doc(PR template): fix contributing link
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @alice

👷 ci(action): fix image tag
  github_actions/preloader_snapshot/action.yaml
Owners: @org/devteam

🐛 fix: filter local layers, restore script path & sync
  .github/workflows/e2e_test.yml
  cmd/export.go
  examples/example.yaml
Owners: @org/devteam, @alice

🐛 fix: filter local layers, restore script path & sync
  .github/workflows/e2e_test.yml
  cmd/export.go
  examples/example.yaml
Owners: @org/devteam, @alice

👷 ci(action): fix image tag
  github_actions/preloader_snapshot/action.yaml
Owners: @org/devteam

chore(deps): add .github/renovate.json5
  .github/renovate.json5
Owners: @alice

chore(deps): add .github/renovate.json5
  .github/renovate.json5
Owners: @alice

⬆️ deps(gomod): update module github.com/kubernetes-csi/external-snapshotter/client/v8 to v8.4.0
  go.mod
  go.sum
Owners: @alice

⬆️ deps(dockerfile): update debian docker tag to v13
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/checkout action to v6
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/setup-go action to v6
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update golangci/golangci-lint-action action to v9
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(github-actions): update softprops/action-gh-release action to v2
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/setup-go action to v6
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/checkout action to v6
  .github/workflows/cred-scan.yml
  .github/workflows/e2e_test.yml
  .github/workflows/github-sanity-scan.yml
  .github/workflows/lint.yaml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @org/devteam

👷 ci(renovate): disable major/minor kube upgrades
  .github/renovate.json5
Owners: @alice

👷 ci: CSI Helm 2.0 upgrade
  README.md
  github_actions/preloader_snapshot/main.sh
Owners: @dave, @ellen, @alice

⬆️ deps(github-actions): update golangci/golangci-lint-action action to v9
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(github-actions): update softprops/action-gh-release action to v2
  .github/workflows/release.yml
Owners: @org/devteam

👷 ci(renovate): disable major/minor kube upgrades
  .github/renovate.json5
Owners: @alice

👷 ci: CSI Helm 2.0 upgrade
  README.md
  github_actions/preloader_snapshot/main.sh
Owners: @dave, @ellen, @alice

⬆️ deps(gomod): update kubernetes packages to v0.34.3
  go.mod
  go.sum
Owners: @alice

⬆️ deps(dockerfile): update golang docker tag to v1.25
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang docker tag to v1.25
  Dockerfile
Owners: @alice

⬆️ deps(gomod): update kubernetes packages to v0.34.3
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): pin dependencies
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @org/devteam, @alice

⬆️ deps(gomod): update module github.com/spf13/cobra to v1.10.2
  go.mod
  go.sum
Owners: @alice

⬆️ deps(gomod): update module github.com/spf13/cobra to v1.10.2
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): pin dependencies
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @org/devteam, @alice

⬆️ deps(dockerfile): update golang:1.25 docker digest to 31c1e53
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.25 docker digest to 31c1e53
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): pin dependencies
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  Dockerfile
  github_actions/preloader_snapshot/Dockerfile
Owners: @org/devteam, @alice

⬆️ deps(dockerfile): update golang:1.25 docker digest to 6cc2338
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/setup-go digest to 7a3fe6c
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update golang:1.25 docker digest to 0f406d3
  Dockerfile
Owners: @alice

⬆️ deps(dockerfile): update golang:1.25 docker digest to 0f406d3
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/setup-go digest to 7a3fe6c
  .github/workflows/e2e_test.yml
Owners: @org/devteam

.github/CODEOWNERS:

# This file assigns code owners automatically to pull requests

# Assign @alice to all files in the repository
* @alice

# Assign @bob to all files in the backend/ directory
/backend/ @bob

# Assign @carol to all files in the frontend/ directory
/frontend/ @carol

# Assign @devteam (a GitHub team) to all configuration files
*.yml @org/devteam
*.yaml @org/devteam
*.json @org/devteam

# Assign @qa-team to test files
/tests/ @org/qa-team

# Assign both @dave and @ellen to specific file
README.md @dave @ellen
