Repository outscale/k8s-image-preloader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alice, @bob, @carol, @org/devteam, @org/qa-team, @dave, @ellen

.github/CODEOWNERS:

# This file assigns code owners automatically to pull requests

# Assign @alice to all files in the repository
* @alice

# Assign @bob to all files in the backend/ directory
/backend/ @bob

# Assign @carol to all files in the frontend/ directory
/frontend/ @carol

# Assign @devteam (a GitHub team) to all configuration files
*.yml @org/devteam
*.yaml @org/devteam
*.json @org/devteam

# Assign @qa-team to test files
/tests/ @org/qa-team

# Assign both @dave and @ellen to specific file
README.md @dave @ellen

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

👷 ci: bump postrelease to fix changelog
  .github/workflows/auto-changelog.yaml
  CHANGELOG.md
Owners: @org/devteam, @alice

👷 ci: bump postrelease to fix changelog
  .github/workflows/auto-changelog.yaml
  CHANGELOG.md
Owners: @org/devteam, @alice

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

🚀 v0.3.0
  CHANGELOG.md
Owners: @alice

⬆️ deps(github-actions): update outscale/frieza-github-actions action to v0.15.0
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update docker/login-action action to v4.4.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update docker/setup-buildx-action action to v4.2.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(gomod): update go toolchain directive to v1.26.5
  go.mod
Owners: @alice

⬆️ deps(github-actions): update outscale/.github action to v1.1.2
  .github/workflows/compliance.yml
  .github/workflows/pr-auto-tagging.yaml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 9344f8b
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update actions/setup-go action to v7
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(gomod): update kubernetes monorepo
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): update actions/setup-go action to v7
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update outscale/.github action to v1.1.2
  .github/workflows/compliance.yml
  .github/workflows/pr-auto-tagging.yaml
Owners: @org/devteam

⬆️ deps(gomod): update go toolchain directive to v1.26.5
  go.mod
Owners: @alice

⬆️ deps(github-actions): update docker/login-action action to v4.4.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update docker/setup-buildx-action action to v4.2.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update dependency helm to v3.21.3
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update dependency helm to v3.21.3
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update dependency helm to v4
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/checkout action to v7.0.1
  .github/workflows/auto-changelog.yaml
  .github/workflows/compliance.yml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/pr-auto-tagging.yaml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update docker/login-action action to v4.6.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 813017f
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update docker/login-action action to v4.6.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update actions/checkout action to v7.0.1
  .github/workflows/auto-changelog.yaml
  .github/workflows/compliance.yml
  .github/workflows/e2e_test.yml
  .github/workflows/lint.yaml
  .github/workflows/pr-auto-tagging.yaml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(gomod): update go toolchain directive to v1.26.6
  go.mod
Owners: @alice

⬆️ deps(gomod): update go toolchain directive to v1.26.6
  go.mod
Owners: @alice

⬆️ deps(github-actions): update dependency helm to v4
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 813017f
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(github-actions): update dependency helm to v4.2.4
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(gomod): update kubernetes monorepo
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): update docker/setup-buildx-action action to v4.3.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(dockerfile): update debian:12 docker digest to 6ebd97f
  .github/actions/preloader_snapshot/Dockerfile
  Dockerfile
Owners: @alice

⬆️ deps(gomod): update kubernetes monorepo to v0.34.11
  go.mod
  go.sum
Owners: @alice

⬆️ deps(github-actions): update outscale/goutils action to v1.0.1
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(github-actions): update outscale/cluster-api-provider-outscale action to v1.5.2
  .github/workflows/e2e_test.yml
Owners: @org/devteam

⬆️ deps(github-actions): update outscale/goutils action to v1.0.1
  .github/workflows/lint.yaml
Owners: @org/devteam

⬆️ deps(github-actions): update docker/setup-buildx-action action to v4.3.0
  .github/workflows/e2e_test.yml
  .github/workflows/release.yml
Owners: @org/devteam

⬆️ deps(github-actions): update outscale/cluster-api-provider-outscale action to v1.5.2
  .github/workflows/e2e_test.yml
Owners: @org/devteam
